body {
    font-family: "Inter", sans-serif;
}

/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 98.4px;
}

/* header */
header {
    background-color: #012426;
    padding: 16px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.burger,
.x-mark {
    display: none;
}

.menu-list {
    display: flex;
    column-gap: 72px;
}

.menu-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
}

.header-buttons {
    display: flex;
    column-gap: 32px;
}

.header-btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.btn-border {
    background-color: transparent;
    border: 2px solid #05BCCA;
}

.btn-bg {
    background-color: #05BCCA;
    border: none;
}

/* home-section1 */
.home-section1 {
    height: 560px;
    padding-top: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url("../images/cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-section1-link {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.home-section1-link-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
}

.home-section1-title-span1 {
    color: #FFFFFF;
}

.home-section1-title-span2 {
    color: #05BCCA;
}